<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container">
			<h2 class="text-center">
				<%= title %>
			</h2>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nome</th><th>Cognome</th>
						<th>Email</th><th>Città</th>
						<th>Nazione</th><th>Categoria</th>
						<th>Elo ITA</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<users.length; i++) { %>
					<tr>
						<td>
							<%=
								users[i].name
							%>
						</td>
						<td>
							<%=
								users[i].surname
							%>
						</td>
						<td>
							<%=
								users[i].email
							%>
						</td>
						<td>
							<%=
								users[i].place
							%>
						</td>
						<td>
							<%=
								users[i].nation
							%>
						</td>
						<td>
							<%=
								users[i].category
							%>
						</td>
						<td>
							<%=
								users[i].eloita
							%>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</body>
</html>